.logo-container img {
    max-width: 30%;
    height: auto;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgb(234, 222, 222);
}
.copyright-area-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgb(234, 222, 222);
}


.gambarMapel {
    width: 100px;
    height: 100px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gambarMapel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

