.logo-container img {
    max-width: 30%;
    height: auto;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgb(234, 222, 222);
}
.copyright-area-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 1px solid;
    border-color: rgb(234, 222, 222);
}


.gambarMapel {
    width: 100px;
    height: 100px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gambarMapel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* /////// */
/* Ensure your CSS includes these styles */
.testimonial-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.testimonial-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
    margin-right: 20px;
}

.slider-arrows {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}


