@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.card {
    width: 100%;
    max-width: 400px;
    background-color: #f6f6f6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid rgba(216, 216, 216, 1);
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    outline: none;
    border-color: #1e94e9;
    box-shadow: 0px 0px 8px rgba(30, 148, 233, 0.4);
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    margin-top: 2px;
}

.form-check-input {
    margin-right: 8px;
}

.btn-primary {
    background-color: #1e94e9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0d8aa7;
}

.btn-link {
    font-size: 14px;
    color: #1e94e9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.btn-link:hover {
    color: #0d8aa7;
}
